/* add your CSS here */
img{
  width: 300px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

}

ul{
  list-style: none;
  padding: 0;
}

#card{
  border: 2px solid grey;
  border-radius: 4px;
  width: 320px;
  background-color: rgb(110, 51, 19);
}
#info{
  border: 2px solid grey;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}

h3{
  padding-left: 10px;
}
a, a:hover, a:visited{
  color: brown;
}
a{
  transition: all .4s ease-in-out;

}
a:hover{
  transition: all .4s ease-in-out;

    font-size: 1.1em;
}

span b{
  color: white;
}
